<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedRecipe.imageUrl" [alt]="selectedRecipe.title" height="300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{selectedRecipe.description}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      @for (ingredient of selectedRecipe.ingredients; track ingredient){
        <a class="list-group-item" style="cursor: pointer;">
          {{ingredient.name}} ({{ingredient.amount}} {{ingredient.unit}})
        </a>
      }
    </ul>
  </div>
</div>
